.App {
  font-family: sans-serif;
  text-align: center;
    height: 60vh;
    margin: 0;
    padding: 0;
    width: 100%;
    // height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: left;
    background-image: url("imgs/bg.png");
    // background: #000;
    background-color: #ffffff; /* Used if the image is unavailable */
    height: 90vh; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: contain
  
}
.buttonNext {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #008CBA;
  position: absolute;
  top: 70px;
  left:640px;
}
#timer_element{
  margin-top: 50%;
}
#batata {
    position: absolute;
    top: 465px;
    // right: 1030px;
    // margin-left:550px;
}
.glow-on-hover {
    width: 150px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    z-index: 0;
    border-radius: 10px;
    content: '';
    background: linear-gradient(45deg,  #5c5c5c, #303030, #818181, #1d1d1d, #4e4d4b, #161616, #999999, #b6b6b6,);
    top: 20px;
    left:640px;
    background-size: 400%;
    opacity: 1;
    color: #fff;
    font-size: 1rem;
    border: none;
    outline: none;
}


@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

@keyframes bordering {
  0% { box-shadow: 0 0 -40px #c4a300; }
  40% { box-shadow: 0 0 40px #c4a300; }
  60% { box-shadow: 0 0 40px #c4a300; }
  100% { box-shadow: 0 0 -40px #c4a300; }
}

[data-xstate] {
  justify-self: stretch;
  align-self: stretch;
  border: none;
}
